<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainPage</servlet-name>
        <servlet-class>MainPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.servelet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.servelet.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductUpload</servlet-name>
        <servlet-class>com.servelet.ProductUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddtoCart</servlet-name>
        <servlet-class>com.servelet.AddtoCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pay</servlet-name>
        <servlet-class>com.servelet.Pay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>com.servelet.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCard</servlet-name>
        <servlet-class>com.servelet.DeleteCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetails</servlet-name>
        <servlet-class>com.servelet.OrderDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainPage</servlet-name>
        <url-pattern>/MainPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductUpload</servlet-name>
        <url-pattern>/ProductUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddtoCart</servlet-name>
        <url-pattern>/AddtoCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pay</servlet-name>
        <url-pattern>/Pay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCard</servlet-name>
        <url-pattern>/DeleteCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetails</servlet-name>
        <url-pattern>/OrderDetails</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
